{% extends 'layout.html' %}
{% load static %}

{% block title %}{{ post.title }} - {{ site_title }}{% endblock %}
{% block meta_description %}{{ post.meta_description|default:post.excerpt|truncatewords:30 }}{% endblock %}
{% block meta_keywords %}{{ post.meta_keywords }}{% endblock %}
{% block meta_author %}{{ post.author.get_full_name|default:post.author.username }}{% endblock %}

{% block extra_head %}
<!-- Open Graph / Facebook -->
<meta property="og:type" content="article">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:title" content="{{ post.title }}">
<meta property="og:description" content="{{ post.meta_description|default:post.excerpt }}">
{% if post.image %}
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ post.image.url }}">
{% endif %}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ request.build_absolute_uri }}">
<meta property="twitter:title" content="{{ post.title }}">
<meta property="twitter:description" content="{{ post.meta_description|default:post.excerpt }}">
{% if post.image %}
<meta property="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{{ post.image.url }}">
{% endif %}

<!-- Article Metadata -->
<meta property="article:published_time" content="{{ post.published_date|date:'c' }}">
<meta property="article:modified_time" content="{{ post.updated_date|date:'c' }}">
<meta property="article:author" content="{{ post.author.get_full_name|default:post.author.username }}">
{% if post.category %}
<meta property="article:section" content="{{ post.category.name }}">
{% endif %}
{% for tag in post.tags.all %}
<meta property="article:tag" content="{{ tag.name }}">
{% endfor %}
{% endblock %}

{% block banner_area %}
<section class="banner_area">
    <div class="box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>{{ post.title }}</h2>
                    <div class="page_link">
                        <a href="{% url 'index' %}">Home</a>
                        <a href="{% url 'blog_home' %}">Blog</a>
                        {% if post.category %}
                        <a href="#">{{ post.category.name }}</a>
                        {% endif %}
                        <a href="#">{{ post.title|truncatewords:3 }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="blog_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="blog_details">
                    {% if post.image %}
                    <div class="blog_image mb-4">
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
                    </div>
                    {% endif %}

                    <h1>{{ post.title }}</h1>

                    <ul class="blog_meta list-inline mb-4">
                        <li class="list-inline-item">
                            <i class="fa fa-user"></i> {{ post.author.get_full_name|default:post.author.username }}
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-calendar"></i> {{ post.published_date|date:"d M Y" }}
                        </li>
                        {% if post.category %}
                        <li class="list-inline-item">
                            <i class="fa fa-folder"></i> {{ post.category.name }}
                        </li>
                        {% endif %}
                        <li class="list-inline-item">
                            <i class="fa fa-eye"></i> {{ post.view_count }} views
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-clock-o"></i> {{ post.reading_time }} min read
                        </li>
                    </ul>

                    {% if post.tags.exists %}
                    <div class="blog_tags mb-3">
                        <i class="fa fa-tags"></i>
                        {% for tag in post.tags.all %}
                        <span class="badge badge-secondary">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="blog_content">
                        {{ post.content|linebreaks }}
                    </div>

                    <div class="navigation_area mt-5">
                        <a href="{% url 'blog_home' %}" class="btn submit_btn">
                            <i class="fa fa-arrow-left"></i> Back to Blog
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
