<!-- templates/blog/blog_home.html -->
{% extends 'layout.html' %}
{% load static %}


{% block banner_area %}

    {% if posts %}
        <section class="home_banner_area blog_banner">
            <div class="banner_inner d-flex align-items-center">
{#        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>#}
                <div class="container">
                    <div class="blog_b_text text-center">
                        {% with last_post=posts.first %}
                            {% if last_post %}
                                <h2>{{ last_post.title }}</h2>
                                <p>{{ last_post.excerpt|default:last_post.content|truncatewords:30 }}</p>
                                <a class="white_bg_btn" href="{% url 'blog_detail' last_post.slug %}">View More</a>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}


{% endblock %}

{% block content %}
    <h1>Blog Home</h1>
    {% if posts %}
        {% for post in posts %}
            <h2><a href="{% url 'blog_detail' post.slug %}">{{ post.title }}</a></h2>
            <p>{{ post.excerpt|default:post.content|truncatewords:50 }}</p>
            <small>By {{ post.author }} | {{ post.published_date|date:"M d, Y" }} | {{ post.view_count }} views</small>
        {% endfor %}
    {% else %}
        <p>Henüz blog gönderisi bulunmamaktadır.</p>
    {% endif %}
{% endblock %}



